<div class="page-header">
  <h3><u>Rubro</u>: <%= @rubro.rub_desc %></h3>
</div>

  <% if @rubro.rub_suma %>
		<p> <strong>Suma?:  SI</strong></p>
  <% else %>
		<p> <strong>Suma?:  NO</strong></p>
  <% end %>

<div class="actions">
  <br><br>
  <%= link_to "Modificar", edit_rubro_path(@rubro),  :class => "btn btn-primary" %>
  <%= link_to 'Ir Atras', rubros_path, class: "btn btn-primary" %>
</div>

