<% if user_signed_in? %>

	<div class="page-header">
	  <h3><u>Estadisticas</u></h3>
	</div>

	<%= render 'form' %>

<%else%>
	<div class="page-header">
	  <h3><u>Usuario no ingreso al Sistema.</u></h3>
	</div>
<%end%>
